.pagination {
    display: inline-block;
  }
  
  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  .pagination a:hover:not(.active) {
    background-color:#41729F;
    border-radius: 5px;
  }